body{
    background-color: rgb(12, 22, 46);
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

#focim{
    background-image: url(kepek/focim_bg.jpg);
    background-size:cover;
    height: 550px;
    width: auto;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    z-index: 1;
}

#focim_szoveg{
    color: white;
    text-align: center;
    padding-top: 122px;
    font-size: 300%;
}

.fo{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 330px;
    margin-right: 330px;
}

#footer{
    color: rgb(252, 237, 210);
    font-size: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 10px, 50px;
    background-color: rgb(24, 19, 81);
    border-radius: 3px;
}

.tartalom{
    background: rgba(123, 109, 255, 0.506);
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0px;
    border-radius: 5px;
    z-index: 999;
    margin-left: 150px;
    margin-right: 150px;
}

h2,p,figcaption{
    margin-top: 18px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 18px;
    text-align: justify;
    color: white;
    padding: 7px;
    word-spacing: 5px;
}

h3{
    background-color: rgba(160, 150, 250, 0.506);
    font-size: 120%;
    padding-left: 12px;
    width: 65%;
    height: 26px;
    color: white;
    border-radius: 13px;
    padding: 12px 12px;
    margin-left: 20px;
}

li, ol{
    word-spacing: 10px;
    color: white;
    margin-left: 25px;
}

#kep1{

}

#kep2{
    
}